.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
button{
    cursor: pointer;}
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logotype-link{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
     text-transform: uppercase;
}
.accent{
    color: #2E2F42;
}
.logotype-link:hover,
.logotype-link:focus{
    color: #404BBF;
}
.logotype-list-link{
          font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        }
.logotype-list-link:hover,
.logotype-list-link:focus{
    color: #404bbf;
}
.page-address{
font-style: normal;
}
.address-list-link{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
              }
.address-list-link:hover,
.address-list-link:focus{
    color: #404BBF;
}
.hero{
    background-color: #2E2F42;
}
.hero-title{
           font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF;
        }
.order-service-btn{
           font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFFFF;
        background-color: #4D5AE5;
}
.order-service-btn:hover,
.order-service-btn:focus{
    background-color: #404BBF;
}
.title-list-benefits{
           font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.benefits-list-text{
           font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
.team{
    background-color: #F4F4FD;
}
.team-list-item{
    background-color: #FFFFFF;
}
.main-title-team{
           font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
}
.team-list-title{
          font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.team-list-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.main-title-portfolio{
           font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
        }

.portfolio-list-title{
          font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.portfolio-list-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
.footer{
    background-color: #2E2F42;
}
.footer-link{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
        text-transform: uppercase;
}
.footer-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
}
.accent-footer{
    color: #F4F4FD;
}