h1,
h2,
h3,
h4,
h5,
h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
.container{
        width: 1158px;
    padding: 0 15px;
        margin: 0 auto;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
button{
    cursor: pointer;}
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.page-header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    }
.page-navigation{
display: flex;
}
.page-header:{
padding: 24px 0;
margin-left: 156px;
margin-right: 156px;
border-bottom: 1px solid #E7E9FC;
}
.navigation-container{
    display: flex;
    justify-content: space-between;
}
.logotype-item-container{
    display: flex;
gap: 40px;
margin-left: 76px;
}
.logotype-list{
display: flex;
}
.address-list{
display: flex;
}
.logotype-link{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
     text-transform: uppercase;
}
.accent{
    color: #2E2F42;
}
.logotype-link:hover,
.logotype-link:focus{
    color: #404BBF;
}
.logotype-list-link{
          font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
                }
.logotype-list-link:hover,
.logotype-list-link:focus{
    color: #404bbf;
}
.page-address{
font-style: normal;
}
.address-list{
    margin-left: 40px;
}
.address-list-link{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
              }
.address-list-link:hover,
.address-list-link:focus{
    color: #404BBF;
}
.hero{
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-title{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF;
                margin: 0 auto;
                width: 496px;
        }
.order-service-btn{
           font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFFFF;
        background-color: #4D5AE5;
        margin-top: 48px;
        text-align: center;
        display: block;
        margin: 0 auto;
        }
.order-service-btn:hover,
.order-service-btn:focus{
    background-color: #404BBF;
}
.benefits{
    padding: 120px 0;
}
.benefits-container{
    justify-content: center;
}
.benefits-list{
    display: flex;
    gap: 24px;
        justify-content: center;
    
}
.title-list-benefits{
           font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.benefits-list-item{
    width: calc((100% - 3 * 24px) / 4);
}

.benefits-list-text{
           font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container{
    display: flex;
        gap: 24px;
    justify-content: center;
}
.team-list-item{
    background-color: #FFFFFF;
}
.main-title-team{
           font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
                text-align: center;
        margin-bottom: 72px;
}
.text-container{
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-list-title{
          font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.team-list-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.main-title-portfolio{
           font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
        margin-bottom: 72px;
        }
.portfolio{
    padding: 120px 0;
}
.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.portfolio-list-title{
          font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.portfolio-list-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-link{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
        text-transform: uppercase;
}
.footer-text{
            font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
        
                width: 264px;
}
.accent-footer{
    color: #F4F4FD;
}